
.container{
      display: flex;
      flex-direction: row;
      height: 90vh;
      width: 90vw;
      background-color: #ffffff;
}
.sideBar{
      background-color: black;
      width: 12vh;
      height: 100vh;
}

#testingCanvas{
      padding: 0px;
      margin: 0px;
      /* margin-left: 5px; */
      /* background-color: pink; */
      /* border: solid 2px black; */
} 
