body{
      margin: 10px;
      padding: 0px;
      height: 100vh;
      width: 100vw;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.appContainer{
      display: flex;
      flex-direction: row;

      background-color: #ffffff;
      border: solid 2px black;
}
.canvasContainer{
      position: relative;
      height: 50vw;
      width: 50vw;
      /* background-color: #ffffff; */
      border-right: solid 2px black;
      
}

.menuContainer{
      
      display: flex;
      flex-direction: row;
      height: 50vw;
      width: 50vw;
      background-color: #ffffff;
      border-left: solid 2px black;
}
.sideBar{
      background-color: black;
      width: 12vh;
      height: 100vh;
}

#testingCanvas{
      position: absolute;
      padding: 0px;
      margin: 0px;
      
     background-color: none;
      height: 100%;
      width: 100%;
    
} 

.outputDebug{

      height: 100%;
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2vh;
      color: black;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      text-align: center;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      /* background-color: aqua; */
}
